deleteme*
.env
**/*.pyc
*.pyc
**/__pycache__/
__pycache__/
.cursor/
*.cache*

*.tar.gz
**/*.tar.gz

.claude/settings.local.json
**/.claude.settings.local.json
.claude/.nfs*
**/.claude/.nfs*
*.safetensors
**/*.safetensors
